@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fef9ef;
}
::-webkit-scrollbar-thumb {
  background: #79583a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f2016;
}

