html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fef9ef;
  color: #1d1c16;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fef9ef;
}
::-webkit-scrollbar-thumb {
  background: #79583a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f2016;
}


